h1 {
    text-align: center;
}

body {
    background-color: rgb(2, 2, 93);
}

table {
    background-color: white;
    padding: 8px;
    border-collapse: collapse
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
